{% extends 'UCrmCoreBundle::layouts/main.html.twig' %}
{% block body -%}
    <h1>TerritoryHistory</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Territoryid</th>
                <td>{{ entity.territoryId }}</td>
            </tr>
            <tr>
                <th>Checkedoutby</th>
                <td>{{ entity.checkedOutBy }}</td>
            </tr>
            <tr>
                <th>Checkedouton</th>
                <td>{{ entity.checkedOutOn|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Checkedinon</th>
                <td>{{ entity.checkedInOn|date('Y-m-d H:i:s') }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('territory_histories') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('territory_histories_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('territory_histories_delete', { 'id': entity.id }) }}" method="post">
            <input type="hidden" name="_method" value="DELETE" />
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
{% endblock %}
