<div class="navbar navbar-default navbar-fixed-top" role="navigation">
	<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
	      <span class="sr-only">Toggle navigation</span>
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	    </button>
		<a class="navbar-brand" href="/">FLT</a>
	</div>
  	<div class="collapse navbar-collapse navbar-ex1-collapse">
	    <ul class="nav navbar-nav">
	    	{% if user().hasPermissionFor(PermsSuperAdmin) %}
	      		<li{% if currentPath in path('people') %} class="active"{% endif %}><a href="{{ path('people') }}">People</a></li>
	      	{% else %}
	      		<li{% if currentPath in path('people_mine') %} class="active"{% endif %}><a href="{{ path('people_mine') }}">People</a></li>
	      	{% endif %}
	      	{% if user().hasPermissionFor(PermsAdmin) %}
	      		<li{% if currentPath in path('territories') %} class="active"{% endif %}><a href="{{ path('territories') }}">Territory</a></li>
	      	{% endif %}
	      	<li{% if currentPath in path('territories_mine') %} class="active"{% endif %}><a href="{{ path('territories_mine') }}">My Territories</a></li>
	      	<li{% if currentPath in path('me_edit') %} class="active"{% endif %}><a href="{{ path('me_edit') }}">Me</a></li>
	      	{% if user().hasPermissionFor(PermsSuperAdmin) %}
	      		<li{% if currentPath in path('users') %} class="active"{% endif %}><a href="{{ path('users') }}">Users</a></li>
	      		<li{% if currentPath in path('statuses') %} class="active"{% endif %}><a href="{{ path('statuses') }}">Settings</a></li>
	      		<li{% if currentPath in path('sources') %} class="active"{% endif %}><a href="{{ path('sources') }}">Sources</a></li>
	      	{% endif %}
	    </ul>
	</div>
</div>