{% extends 'UCrmCoreBundle::layouts/main.html.twig' %}

{% block body -%}
    <h1>TerritoryHistory list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Territoryid</th>
                <th>Checkedoutby</th>
                <th>Checkedouton</th>
                <th>Checkedinon</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('territory_histories_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.territoryId }}</td>
                <td>{{ entity.checkedOutBy }}</td>
                <td>{% if entity.checkedOutOn %}{{ entity.checkedOutOn|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.checkedInOn %}{{ entity.checkedInOn|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('territory_histories_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('territory_histories_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('territory_histories_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
