{% set currentPath = app.request.attributes.get('_route') %}
<!DOCTYPE html>
<html class="{{ controller_name() }} {{ action_name() }}">
  <head>
    <title>Territories</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="{{ asset('bundles/bootstrap-3.0.0/dist/js/bootstrap.min.js') }}"></script>

    <!-- Bootstrap -->
    <link href="{{ asset('bundles/bootstrap-3.0.0/dist/css/bootstrap.min.css') }}" rel="stylesheet" media="screen">
    <link href="{{ asset('bundles/ucrmcore/css/styles.css') }}" rel="stylesheet" media="screen" />

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="{{ asset('bundles/bootstrap-3.0.0/assets/js/html5shiv.js') }}"></script>
      <script src="{{ asset('bundles/bootstrap-3.0.0/assets/js/respond.min.js') }}"></script>
    <![endif]-->

    {% block head %}{% endblock %}
  </head>
  <body>
    {{ include('UCrmCoreBundle::shared/top-nav.html.twig') }}
    <div class="container">
  		<div class="row">
  			<div class="col-md-3">
  				{% block leftside %}
  				{% endblock %}
  			</div>
  			<div class="col-md-9">
  				{% block body %}{% endblock %}
  			</div>
  		</div>
  	</div>
  </body>
</html>