{% extends 'UCrmCoreBundle::layouts/main.html.twig' %}

{% block leftside -%}
    {% include 'UCrmCoreBundle::Territory/left-nav.html.twig' %}
{% endblock %}

{#% block head -%}
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key={{ googleApi.value }}&amp;sensor=true">
    </script>
    <script type="text/javascript" src="{{ asset('bundles/ucrmcore/js/maps.js') }}"></script>
{% endblock %#}

{% block body -%}
    <div class="top-btns">
        <a href="{{ path('territories_coords', { 'id': entity.id }) }}" class="btn btn-default">Add Coords</a>
        <form action="{{ path('territories_delete', { 'id': entity.id }) }}" method="post">
            <input type="hidden" name="_method" value="DELETE" />
            {{ form_widget(delete_form) }}
            <button type="submit" class="btn btn-danger">Delete</button>
        </form>
    </div>

    <div class="page-header">
        <h1>Edit Territory</h1>
    </div>

    {#<div id="territory-map-cont">
        <div id="territory_map"></div>
    </div>#}
    <form action="{{ path('territories_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
        <input type="hidden" name="_method" value="PUT" />
        {{ form_widget(edit_form) }}
        <p>
            <button type="submit" class="btn btn-primary">Edit</button>
        </p>
    </form>
{% endblock %}
