{% extends 'UCrmCoreBundle::layouts/main.html.twig' %}

{% block leftside -%}
    {% include 'UCrmCoreBundle::Territory/left-nav.html.twig' %}
{% endblock %}

{% block body -%}
    <div class="page-header">
        <h1>Territory list</h1>
    </div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Code</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('territories_show', { 'id': entity.id }) }}">{{ entity.code }}</a></td>
                <td>
                    {% if entity.status == 1 or entity.status == 2 %}
                        <span class="label label-primary">out {{ entity.howLongOut() }} days</span>
                        {% if entity.status == 1 %}
                            <span class="label label-danger">not recorded</span>
                        {% endif %}

                        {{ entity.getCheckedOutOnFormatted }}  
                        {% if entity.user %}by {{ entity.user.fullName }}{% endif %}
                    {% elseif entity.status == 3 %}
                        <span class="label label-warning">never worked</span>
                    {% endif %}
                </td>
                <td><a href="{{ path('territories_show', { 'id': entity.id }) }}" class="btn btn-default">show</a>
                    <a href="{{ path('territories_edit', { 'id': entity.id }) }}" class="btn btn-warning">edit</a>
                    <a href="#checkout-modal" data-checkout-url="{{ path('territory_checkout', { 'id': entity.id }) }}" class="btn btn-primary" data-toggle="modal" data-target="#checkoutModal">checkout</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% include 'UCrmCoreBundle::Territory/checkout-modal.html.twig' %}
{% endblock %}
