{% extends 'UCrmCoreBundle::layouts/main.html.twig' %}

{% block leftside -%}
    {% include 'UCrmCoreBundle::Territory/left-nav.html.twig' %}
{% endblock %}

{% block body -%}
    <div class="page-header">
        <h1>Territory list</h1>
    </div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Checked Out On</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('territories_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.getCheckedOutOnFormatted }} by 
                    {% if entity.getUser() %}{{ entity.user.fullName }}{% endif %}</td>
                <td><a href="{{ path('territories_show', { 'id': entity.id }) }}" class="btn btn-default">show</a>
                    <a href="{{ path('territories_edit', { 'id': entity.id }) }}" class="btn btn-warning">edit</a>
                    <a href="#checkout-modal" data-checkout-url="{{ path('territory_checkout', { 'id': entity.id }) }}" class="btn btn-primary" data-toggle="modal" data-target="#checkoutModal">checkout</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% include 'UCrmCoreBundle::Territory/checkout-modal.html.twig' %}
{% endblock %}
