{% extends 'UCrmCoreBundle::layouts/main.html.twig' %}

{% block head -%}
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key={{ googleApi.value }}&amp;sensor=true">
    </script>
    <script type="text/javascript" src="{{ asset('bundles/ucrmcore/js/maps.js') }}"></script>
    <script type="text/javascript">
    	$(function() {
    		var points = {{ points|raw }},
                Map = new FLT.Map({
                    sel: '#territory_map', 
                    markers: points,
                    mapCenter: function() {
                        var center = FLT.Utility.centerOf(points);
                        return new google.maps.LatLng(center.lb, center.mb);
                    },
                    onMarkerClick: function(marker) {
                        var info = marker.get('info');
                        document.location.href = "/people/" + info.id + "/edit";
                    }
                });
            window.Map = Map;
    	});
    </script>
{% endblock %}

{% block leftside -%}
    {% include 'UCrmCoreBundle::Territory/left-nav.html.twig' %}
    <div class="panel panel-default">
        <div class="list-group">
            <a href="{{ path('territory_people', { 'id': entity.id }) }}?type=list" class="list-group-item">List</a>
            <a href="{{ path('territory_print', { 'id': entity.id }) }}" class="list-group-item">Print</a>
        </div>
    </div>
{% endblock %}

{% block body -%}
    <div class="top-btns">
        <a href="{{ path('territory_print', { 'id': entity.id }) }}" class="list-group-item">Print</a>
    </div>
    <div id="territory_map"></div>
{% endblock %}
