{% extends 'UCrmCoreBundle::layouts/print.html.twig' %}

{% block title -%}Territory {{ entity.code }}{% endblock %}

{% block head %}
	<style type="text/css">
		table {
			width: 100%;
		}
		.person {
			margin-bottom: 15px;
			padding-bottom: 15px;
			border-bottom: 1px solid black;
		}
		.source { text-align: right; }
		#map img { width: 100%; }
		#map { margin-bottom: 20px; page-break-after: always; }
	</style>
{% endblock %}

{% block body -%}
    <div class="page-header">
        <h1>Territory {{ entity.code }}</h1>
    </div>

    <div id="map">
    	<img src="http://maps.googleapis.com/maps/api/staticmap?center={{ mapCenter.lat }},{{ mapCenter.lon }}&zoom=15&size=640x640&scale=2&sensor=false&path={{ mapPath }}" />
    </div>

    {% for person in people %}
    	<div class="person">
		    <table class="table table-striped">
		    	<tr>
		    		<td><span>Name:</span> 
		    			{{ person.fullName }} 
		    			{% if person.gender is not null %}({{ person.genderFormatted }}){% endif %}
		    		</td>
		    		<td class="source"><span>Found By:</span> {{ person.source.name }}</td>
		    	</tr>
		    	<tr>
		    		<td colspan="2"><span>Address:</span> {{ person.streetNumber }} {{ person.streetName }}, {{ person.neighborhood }}</td>
		    	</tr>
		    	<tr>
		    		<td colspan="2"><span>Phone Number:</span> {{ person.phoneNumber }}</td>
		    	</tr>
		    	<tr>
		    		<td colspan="2"><span>Notes:</span> {{ person.description }}</td>
		    	</tr>
		    </table>
		</div>
    {% endfor %}
{% endblock %}
