{% extends 'UCrmCoreBundle::layouts/main.html.twig' %}

{% block leftside -%}
    {% include 'UCrmCoreBundle::Territory/left-nav.html.twig' %}
{% endblock %}

{% block body -%}
    <h1>Territory</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Map</th>
                <td>{{ entity.map }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('territories') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('territories_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('territories_delete', { 'id': entity.id }) }}" method="post">
            <input type="hidden" name="_method" value="DELETE" />
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
{% endblock %}
