{% extends 'UCrmCoreBundle::layouts/main.html.twig' %}

{% block leftside -%}
    {% include 'UCrmCoreBundle::Client/left-nav.html.twig' %}
{% endblock %}

{% block body -%}
    <div class="top-btns">
        <a href="{{ path('people') }}" class="btn btn-default">
            Cancel
        </a>
    
        <form action="{{ path('people_delete', { 'id': entity.id }) }}" method="post">
            <input type="hidden" name="_method" value="DELETE" />
            {{ form_widget(delete_form) }}
            <button type="submit" class="btn btn-danger">Delete</button>
        </form>
    </div>
    <div class="page-header">
        <h1>Update Person</h1>
    </div>

    <form action="{{ path('people_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }} role="form">
        <input type="hidden" name="_method" value="PUT" />
        <div class="row">
            <div class="col-md-8">
                <fieldset class="row">
                    <div class="col-md-6">
                        {{ form_row(edit_form.firstName) }}
                    </div>
                    <div class="col-md-6">
                        {{ form_row(edit_form.lastName) }}
                    </div>
                </fieldset>
                <fieldset class="row">
                    <legend>Address</legend>
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-6">
                                {{ form_row(edit_form.streetNumber) }}
                            </div>
                            <div class="col-md-6">
                                {{ form_row(edit_form.streetName) }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                {{ form_row(edit_form.neighborhood) }}
                            </div>
                            <div class="col-md-3">
                                {{ form_row(edit_form.city) }}
                            </div>
                            <div class="col-md-3">
                                {{ form_row(edit_form.zip) }}
                            </div>
                    </div>
                </fieldset>
            </div>
            <div class="col-md-4">
                <div class="well well-sm">
                    {{ form_rest(edit_form) }}
                </div>
            </div>
        </div>
        <p>
            <button type="submit" class="btn btn-primary">Update</button>
        </p>
    </form>
{% endblock %}
